body{
    display: flex;
    background-color: #131315;
}

.text{
    font-family: "Jersey 10", sans-serif;
    font-weight: 50;
    font-size: 25px;;
    opacity: 70%;
    left: 76%;
}

.infobox{
    margin-top: 3.5%;
    margin-left: 60%;
    width: 400px;
    height: 620px;
    background-color: #202024;
    border-radius: 2%;
}

.imgbox{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: 50px ;
    margin-left: 120px;
}

